.chat-container {
  width: 320px;
  min-height: 500px;
  background-color: rgb(203, 191, 255);
  padding: 10px 15px 0;
}

.chat-container .list {
  margin-top: 4px;
}

.list > .content {
  display: inline-block;
  padding: 2px 10px;
}

.chat-container .my-chat {
  text-align: right;
}
.my-chat .content {
  background-color: rgb(255, 255, 170);
}

.chat-container .other-chat {
  text-align: left;
}
.other-chat .content {
  background-color: white;
}

.chat-container .notice {
  font-size: 12px;
  color: rgb(68, 68, 68);
  text-align: center;
  margin-top: 6px;
}

.input-container {
  width: 320px;
  display: flex;
  justify-content: space-between;
}

.input-container > input {
  flex-grow: 1;
}

/* 내가 만든 부분 */
.go-chat-room{
  display:inline-block;
  width: 371px;
  height: 186px;
  /* background-color: #C549F9; */
  border-radius: 13px;
  cursor: pointer;
  margin: 30px;
}