<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>MVC 패턴과 MYSQL연결</h2>
    <a href="/visitors"></a>
    <!-- get요청으로 실제로 있어야하는 주소 -->
</body>
</html>