<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 페이지</title>
</head>
<body>
    안녕하세요
    <a href="/set">로그인</a>
    </hr>
    <a href="/get">입장하기</a>

</body>
</html>