<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <div class="box"></div>
    <img src="/static/image/coco.jpg"/>
    <p>저희집 고양이 귀엽죠?</p>
</body>
</html>