<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="popupLabel">쿠키가 없군요</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            조금 더 열심히 공부 해보세요
          </div>
          <div class="modal-footer">
            <form name="form-mkCookie">
              <input type="checkbox" class="checkbox" id="check">오늘은 그만보기
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="makeCookie()">Close</button>
              
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <script>
      console.log("<%=noPop%>")
      const myModal = new bootstrap.Modal('#popup')
      if("<%=noPop%>" !="y"){
        myModal.show()
      }
    

      //체크 박스를 누른뒤 close버튼을 누르면 post요청을 서버에 보낸다.
      function makeCookie(){
        var form=document.forms["form-mkCookie"];
        //체크가 되어있다면 요청을 보낸다
        checkbox =document.getElementById('check').checked
        if(checkbox){
          axios({
          method: 'post',
          url: '/setCookie',
          data: {
            //체크가 된건지 아닌지 값.
           
            
          }
        }).then((res) => {
          alert("그만 보여 드리겠습니다.");
          console.log(res.data);

         
        });
        }
        
      }

    </script>
  </body>
</html>