<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ---------------------------get 요청----------------------------- -->
    <h1>로그인</h1>
    <!-- action :요청을 보낼 주소(제 서버에 보낸다라는 가정하에 도메인을 뗀 나머지 주소) -->
    <!-- ex) localhost:8000/get/test  -->
    <!-- method: 어떤 방식의 요청을 사용 할 건지 -->
    <form action="/get" method="get"name="login" target="_blank">
        <fieldset>
            <legend>로그인 정보</legend>
        
        <input type="text" name="id" />
        <input type="password" name="pw" />
        </fieldset>
        <!-- button type 이 submit인 경우 , 버튼을 감싸고 있는 form 태그의 정보에 맞게 폼을 제출 -->
        <input type="radio" name="gender" value="남자" id="men"/><label for="men">남자</label>
        <input type="radio" name="gender" value="여자" id="women"/><label for="women">여자</label>
        <button type="submit">제출</button>
    </form>
    <h1>회원 가입 post 요청 </h1>
    <form action="/post/ver2" method="post">
        <input type="text" name="id" pattern="^[a-zA-Z0-9가-힣]{4,12}$" required/>
        <input type="password" name="pw" required oninput="validCheckPW(this)" id="errorID"/>
        <input type="text" name="name" required/>
        <input type="number" min="5" max="10" required/>
        <input type="text" name="email" required/>
        <button type="submit">제출</button>
    </form>
    <!-- 데이터를 body 에 담아서 온다. -->
    <script>
        console.log( document.forms["login"])
       function validCheckPW(el){
        const regexPW = /^[a-z0-9]{8,12}$/;
        const value =el.value;
        const error = document.getElementById("errorID")
        //regexPW.test("검사하고 싶은 값")=>true or false return
        if(regexPW.test(value)){
            console.log("정규식 일치")
            error.innerHTML=""
        }
        else{
            console.log("정규식 불일치")
            error.innerHTML="소문자,숫자로 조합된 8~12자리로 입력"
        }
       }
    </script>
</body>
</html>