:root {
  --height-header: 80px;
}

* {
  box-sizing: border-box;
}

main {
  margin-top: var(--height-header);

}
.Header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  height: var(--height-header);
  width: 100%;
  background-color: rgb(207, 155, 255);
  padding: 0 20px;
}

.Header > nav {
  display: flex;
}

.Header > nav > div {
  margin-left: 15px;
}