h1:hover{
    color: red;
}

a:active{
    background-color: blue;
}

input:focus{
    background-color: orange;
}

.stripes div:nth-child(2n){
    background-color: yellow;
}
.stripes div:nth-child(2n+1){
    background-color: navy;
    color: white;
}