.container{
    background-color: bisque;
    width: 500px;
    height:500px;
    display: flex;
    margin-bottom: 5px;
}
.container-2{
    background-color: bisque;
    width: 500px;
    height:500px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
}
.container-3{
    background-color: bisque;
    width: 500px;
    height:500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.item{
    width: 100px;
    height: 100px;
    
}
.item-1{
    background-color: rgb(198, 117, 117);
}
.item-2{
    background-color: rgb(173, 54, 54);
}
.item-3{
    background-color: rgb(125, 5, 5);
}